<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id page %>">
  <td>
    <%= page.title %>
  </td>
  <td>
    <%= link_to page.link, page.link %>
  </td>
  <td>
    <%= icon('tick') if page.visible %>
  </td>
  <td>
    <%= link_to "Edit", edit_admin_page_path(page.id) %> &nbsp;
    <%= link_to "Delete", admin_page_path(page.id), :method => :delete, :confirm => "Are you sure you want to delete the #{page.title}?" %>
  </td>
</tr>
<% if page.children.any? %>
  <tr>
    <th colspan="4"><h5>Child Pages for: <%= page.title %></h5></th>
  </tr>
  <%= render :partial => "page_row", :collection => page.children, :as => :page %>
  <tr colspan="4"><th>&nbsp;</th></tr>
<% end %>
