<% content_for :head do -%>
  <%- if @page.meta_title.present? -%>
    <meta name="title" content="<%=@page.meta_title%>">
  <%- else -%>
    <meta name="title" content="<%=@page.title%>">
  <%- end -%>
  <meta name="keywords" content="<%=@page.meta_keywords%>">
  <meta name="keywords" content="<%=@page.meta_description%>">
<% end -%>

<% content_for :sidebar do %>
  <%= render :partial => "shared/left_sidebar" %>
<% end %>
<%= render :partial => "shared/right_sidebar" %>

<div id="page_content">
  <h1><%= @page.title %></h1>
  <%= @page.body.html_safe %>
</div>
